ul {
  padding-inline-start: 20px;
}

ul button {
  background-color: darkgrey;  
  color: black;
  border-color: #222;
  padding: 10px;
  font-size: 12pt;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  color: white;
  background-color:#222;
}

.game-container {
  display: grid;
  grid-template-areas: "status winner history" "game game history";
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 800px;
  margin: 0px auto;
}

.square {
  display: table-cell;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 10vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 10vw;
}

.board {
  grid-area: game;  
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  grid-area: status;
  margin-bottom: 10px;
}

.game {
  grid-area: game;
  display: flex;
  flex-direction: row;
}

.game-info {
  grid-area: history;
  justify-self: end;
}

.winner {
  grid-area: winner;
  justify-self: end;
  font-size: 22pt;
}